---
layout: default
---


<h1 class="projectname left5 top5">Work</h1>

<div class="work_grid_2h top5">  
    <div class="border1 gray_bg">
        <h1 class="projectname hvr-shrink"><a href="{{site.baseurl}}/projects/architecture/ae.html">Against Exile</a></h1>
    <br>
    <span class="projecttext">Time, memory, and imagination after modernity</span>
    </div>
    <div>
    <a href="{{site.baseurl}}/projects/architecture/ae.html"><img src="{{site.baseurl}}/img/ae/ae_workshop_B.png" class="op80"></a>
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div>
        <a href="{{site.baseurl}}/projects/architecture/placeholder.html"><img src="{{site.baseurl}}/img/sunshade/sunshade1.png" class="op80"></a>
    </div>
    <div class="border1 gray_bg">
    <a href="{{site.baseurl}}/projects/architecture/placeholder.html"><h1 class="projectname hvr-shrink">Placeholder Public</h1></a>
    <br>
    <span class="projecttext">Shade beneath a full view of the sky</span>
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div class="border1 gray_bg">
    <h1 class="projectname">Proxy</h1>
    <br>
    <span class="projecttext">A new typology of public space for the delivery of e-commerce services</span>
    </div>
    <div>
    <img src="{{site.baseurl}}/img/proxy/proxy10.png" class="op80">
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div>
    <a href="{{site.baseurl}}/projects/architecture/re.html"><img src="{{site.baseurl}}/img/re/re22.png" class="op80"></a>
    </div>
    <div class="border1 gray_bg">
    <a href="{{site.baseurl}}/projects/architecture/re.html"><h1 class="projectname hvr-shrink">Ripple Effect</h1></a>
    <br>
    <span class="projecttext">Water literacy in New Orleans schools through design-based experiential learning</span>
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div class="border1 gray_bg">
    <a href="{{site.baseurl}}/projects/architecture/cc.html"><h1 class="projectname hvr-shrink">Changing Course</h1></a>
    <br> 
    <span class="projecttext">Reconstructing the Mississippi delta as protective infrastructure</span>
    </div>
    <div>
    <a href="{{site.baseurl}}/projects/architecture/cc.html"><img src="{{site.baseurl}}/img/cc/comm_ind_2018.png" class="op80"></a>
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div>
    <img src="{{site.baseurl}}/img/wetlands/wetlands2.png" class="op80">
    </div>
    <div class="border1 gray_bg">
    <h1 class="projectname">Coastal Wetlands</h1>
    <br>
    <span class="projecttext">Mapping a resilient future for the Blue Belt along the Lake Erie coastline</span>
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div class="border1 gray_bg">
    <h1 class="projectname">Despur Detroit</h1>
    <br>
    <span class="projecttext">Removing the Lodge and I-375 spurs</span>
    </div>
    <div>
    <img src="{{site.baseurl}}/img/despur/despur1_labels.png" class="op80">
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div>
    <img src="{{site.baseurl}}/img/jh/jhf2.png" class="op80">
    </div>
    <div class="border1 gray_bg">
    <h1 class="projectname">Jazz & Heritage</h1>
    <br>
    <span class="projecttext">Bringing jazz education and performance back to the Treme, where it was born</span>
    </div>
</div>
<br>
<div class="work_grid_2h">  
    <div class="border1 gray_bg">
    <h1 class="projectname">Canopy Detroit</h1>
    <br>
    <span class="projecttext">An economic garden in the heart of Detroit's downtown boom</span>
    </div>
    <div>
    <img src="{{site.baseurl}}/img/canopy/canopy1.png" class="op80">
    </div>
</div>

<!--
<h1 class="projectname left5 top5">Work Index</h1>
<br>
<div class="grid_4h">
	<div>&nbsp;</div>

	<div>
	<span class="projecttype l uline">Architecture & The Human Environment</span><br><br>
	{% include projectlist.html type='Architecture & Human Environment' %}
	</div>

	<div>
	<span class="projecttype l uline">Interaction Design</span><br><br>
	{% include projectlist.html type='Interaction Design' %}
	</div>

	<div>
	<span class="projecttype l uline">Social Innovation</span><br><br>
	{% include projectlist.html type='social' %}
	</div>

	<div>
	<span class="projecttype l uline">Visual Design</span><br><br>
	{% include projectlist.html type='Visual' %}
	</div>

	<div>&nbsp;</div>
</div>
-->
