---
layout: default
---

<h1>My Projects!</h1>

<a href="{{site.baseurl}}/projects/architecture"><h2>Architecture</h2></a>
{% include projectlist.html type='Architecture & Human Environment' %}

<h2>Interaction Design</h2>
{% include projectlist.html type='ixd' %}

<h2>Social Innovation</h2>
{% include projectlist.html type='social' %}

<h2>Visual Design</h2>
{% include projectlist.html type='visual' %}

<div id="rocks2">
<!-- ROW 1 -->
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item1.svg"></div>
	    <div class="nd"><img src="/img/item1hover2.svg"></div>
    </a>
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item3.png"></div>
	    <div class="nd"><img src="/img/item3hover.svg"></div>
    </a> 
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item4.png"></div>
	    <div class="nd"><img src="/img/item4hover.svg"></div>
    </a>
<!-- ROW 2 -->
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item5.png"></div>
	    <div class="nd"><img src="/img/item5hover.svg"></div>
    </a> 
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item6.png"></div>
	    <div class="nd"><img src="/img/item6hover.svg"></div>
    </a> 
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item3.png"></div>
	    <div class="nd"><img src="/img/item3hover.svg"></div>
    </a>
<!-- ROW 3 -->
   <a class="goo" href="#">
	    <div class="st"><img src="/img/item1.svg"></div>
	    <div class="nd"><img src="/img/item1hover2.svg"></div>
    </a>
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item4.png"></div>
	    <div class="nd"><img src="/img/item4hover.svg"></div>
    </a>
    <a class="goo" href="#">
	    <div class="st"><img src="/img/item6.png"></div>
	    <div class="nd"><img src="/img/item6hover.svg"></div>
    </a>
</div>


<!--
<div id="rocks">
	<a class="foo" href="#">
		<img src="/img/item1.svg">
		<img src="/img/item1hover2.svg">
	</a>
	<a class="foo" href="#"> 
		<img src="/img/item1.svg">
		<img src="/img/item1hover.svg">
	</a>
	<a class="foo" href="#"> 
		<img src="/img/item3.png">
		<img src="/img/item3hover.svg">
	</a>
	<a class="foo" href="#">
		<img src="/img/item5.png">
		<img src="/img/item5hover.svg">
	</a>
	<a class="foo" href="#">
		<img src="/img/item5.png">
		<img src="/img/item5hover.svg">
	</a>
	<a class="foo" href="#">
		<img src="/img/item6.png">
		<img src="/img/item6hover.svg">
	</a>
</div>
-->