---
layout: default
---

<h1 class="projectname left5">Work Index</h1>
<br>
<div class="grid_4h">
	<div>&nbsp;</div>

	<div>
	<span class="projecttype l uline">Architecture & The Human Environment</span><br><br>
	<!-- LINK FORMAT: <a href="{{site.baseurl}}/projects/ixd" class="projecttype uline">Interaction Design</a> -->
	{% include projectlist.html type='Architecture & Human Environment' %}
	</div>

	<div>
	<span class="projecttype l uline">Interaction Design</span><br><br>
	{% include projectlist.html type='Interaction Design' %}
	</div>

	<div>
	<span class="projecttype l uline">Social Innovation</span><br><br>
	{% include projectlist.html type='social' %}
	</div>

	<div>
	<span class="projecttype l uline">Visual Design</span><br><br>
	{% include projectlist.html type='Visual' %}
	</div>

	<div>&nbsp;</div>
</div>

<div id="rocks">
<!-- ROW 1 -->
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item1.svg"></div>
	    <div class="end"><img src="/img/item1hover2.svg"></div>
    </a>
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item3.png"></div>
	    <div class="end"><img src="/img/item3hover.svg"></div>
    </a> 
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item4.png"></div>
	    <div class="end"><img src="/img/item4hover.svg"></div>
    </a>
<!-- ROW 2 -->
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item5.png"></div>
	    <div class="end"><img src="/img/item5hover.svg"></div>
    </a> 
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item6.png"></div>
	    <div class="end"><img src="/img/item6hover.svg"></div>
    </a> 
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item3.png"></div>
	    <div class="end"><img src="/img/item3hover.svg"></div>
    </a>
<!-- ROW 3 -->
   <a class="goo" href="#">
	    <div class="start"><img src="/img/item1.svg"></div>
	    <div class="end"><img src="/img/item1hover2.svg"></div>
    </a>
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item4.png"></div>
	    <div class="end"><img src="/img/item4hover.svg"></div>
    </a>
    <a class="goo" href="#">
	    <div class="start"><img src="/img/item6.png"></div>
	    <div class="end"><img src="/img/item6hover.svg"></div>
    </a>
</div>