<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width">
	<title>Workshop</title>
	<!--<link href="{{site.baseurl}}/css/normalise.css" rel="stylesheet">-->
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/rez.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lekton:400,700" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet"> -->
</head>
<body>

<header>
	<br>
	{% include nav.html navclass='nav-top' %}
</header>

{{content}}

<footer>
	{% include nav.html navclass='nav-top' %}
</footer>

</body>
</html>